body {
    font-size: 100%;
}

ul.directory { 
    list-style-type: none;
    padding: 0;
    font-size: 125%;
}

ul.directory a {
    color: black;
    text-decoration: none;
}

ul.directory li {
    padding-left: 30px;
}

li.project, li.subproject {
    background: url("/img/project.png") no-repeat;
}

li.dir {
    background: url("/img/folder.png") no-repeat;
}

li.parent {
    background: url("/img/arrow.png") no-repeat;
}

li.file {
    background: url("/img/file.png") no-repeat;
}